# Python virtual environment
authlib-injector-develop/
blessing-skin-server-dev/
*venv/

# Python cache files
__pycache__/
pyauthskin/__pycache__/
*.pyc
*.pyo
*.pyd

# Runtime data files inside the 'data' directory
# Ignore the database files
data/database.db
data/database.db-shm
data/database.db-wal

# Ignore RSA keys (Sensitive information)
data/private.key
data/public.pem

# Ignore user-uploaded skins
data/static/skins/

# IDE-specific files
.vscode/
.idea/
