# Python virtual environment
authlib-injector-develop/
blessing-skin-server-dev/
*venv/

# Python cache files
__pycache__/
pyauthskin/__pycache__/
*.pyc
*.pyo
*.pyd

# Runtime data files inside the 'data' directory
data/

# IDE-specific files
.vscode/
.idea/
